* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

body {
  height: 100vh;
}

.app {
  position: relative;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;

  .sidebar {
    flex: 1;
  }

  // .stages {
  //   flex: 5;
  //   background-color: rgb(19, 77, 19);
  //   color: rgb(228, 238, 228);
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   padding: 1em;
  //   height: 100vh;
  // }
}

header {
  color: #fff;
  font-size: 150%;
  height: 7vh;
  margin-top: 1rem;
  text-align: center;
}

.sidebar {
  background-color: rgb(19, 77, 19);
  border-right: 2px solid rgb(185, 185, 185);
  padding: 1%;
}

h1#headerStages,
h1#headerCharacters {
  color: rgb(228, 238, 228);
  font-size: 1.5em;
  height: 8vh;
  margin: auto;
  text-align: center;
  width: 80%;
}

.button {
  background: #1fa91f;
  border: 3px solid #fff;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 70%;
}

#removeCharacterButton,
#removeStageButton {
  background-color: #ff0000;
  margin-top: 1.5rem;
}

#removeCharacterButton:disabled,
#removeStageButton:disabled,
#stageButton:disabled,
#characterButton:disabled {
  background-color: rgb(150, 150, 150);
}


// .stage {
//   color: rgb(228, 238, 228);
//   font-size: 0.6rem;
//   margin: 0.7rem;
//   text-align: left;
//   width: 17%;
//   box-shadow: 0 0 20px rgb(12, 48, 12);
//   padding: 10px 5px;
// }

// .stage p {
//   font-size: 1.3rem;
// }


// .logo {
//   margin-left: 15%;
//   width: 17%;
// }

h2,
h3 {
  font-size: 2.1em;
  // text-align: center;
}

ul {
  margin: 0 25px;
}

li {
  font-size: 1.6em;
  list-style: outside;
  list-style: decimal;
  margin-top: 25px;
  // padding: auto;
  // text-align: left;
  text-align: center;
}

.button:hover {
  background-color: #fff;
  border-color: #1fa91f;
  color: #1fa91f;
}

#removeStageButton:hover,
#removeCharacterButton:hover {
  background-color: #fff;
  border-color: #ff0000;
  color: #ff0000;
}

// #cowabunga-logo {
//   opacity: 0;
//   position: absolute;
//   right: 50%;
//   top: 50%;
//   transform: translate(10%, -70%);
//   -webkit-transition: opacity 2s ease-in-out;
//   -moz-transition: opacity 2s ease-in-out;
//   -ms-transition: opacity 2s ease-in-out;
//   -o-transition: opacity 2s ease-in-out;
//   transition: opacity 2s ease-in-out;
// }

// #cowabunga-logo.fadeIn {
//   opacity: 1;
// }

.character {
  display: inline-block;
  opacity: 0;
  transform: translateX(-100%);
}

// #intro {
//   height: 80%;
//   width: 80%;
//   display: none;
// }

.image-container {
  position: absolute;
  right: 20%;
  top: 50%;
  // transform: translate(-50%, -50%);
}

.cowabunga {
  // position: absolute;
  // right: 50%;
  // top: 50%;
  transform: translate(-50%, -50%);
}