/* .color-animate {
    color: #f5ab3c;
    animation: none;
    &:hover {
        color: #fff;
        animation: war 1.5 ease-in-out infinite alternate;
        -webkit-animation: war 1.5 ease-in-out infinite alternate;
    }
}

@-webkit-keyframes ele {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e45c4a, 0 0 70px #e45c4a, 0 0 80px #e45c4a, 0 0 100px #e45c4a, 0 0 150px #e45c4a;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e45c4a, 0 0 35px #e45c4a, 0 0 40px #e45c4a, 0 0 50px #e45c4a, 0 0 75px #e45c4a; */