/* .stages {
    background: radial-gradient(rgb(80, 156, 80), rgb(6, 95, 6));
    color: rgb(228, 238, 228);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8rem;
    padding-top: 1rem;
    position: relative;
    height: 100vh;
  } */