.stages-container {
  flex: 5;
  background-color: rgb(19, 77, 19);
  color: rgb(228, 238, 228);
  // display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  padding: 1em;
  height: 100vh;

  
}

.stages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  // repeat(auto-fit, minmax(15rem, 1fr));
  height: 100%;

}

.TMNT-Logo {
  margin: auto;
  grid-row: span 3;
  // grid-column: span 1;
  max-height: 100%;
  // margin: 0.2rem auto ;
  width: 100%;
  padding: 10px 5px;
}

.stage {
  color: rgb(228, 238, 228);
  font-size: 0.6rem;
  margin: 0.7rem;
  text-align: center;
  box-shadow: 0 0 20px rgb(12, 48, 12);
  padding: 10px 5px;
  border-radius: 5%;
}

// .bottom-wrapper {
//   flex-direction: column;
// }