/* .stage {
    color: rgb(228, 238, 228);
    font-size: 0.6rem;
    margin: 0.7rem;
    text-align: center;
    width: 17%;
  }
  
  .stage p {
    font-size: 1.3rem;
    width: 200%;
  }
  
  .stage ol {
    font-size: 0.8rem;
    margin: 0.3rem 0;
    width: 200%;
  }
  
  .logo {
    margin-left: 15%;
    width: 17%;
  }
  
  img {
    margin-left: 40%;
    height: 35%;
  }
  
  h2,
  h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  
  ul {
    margin: 0 1rem;
  }
  
  li {
    font-size: 0.9rem;
    list-style: outside;
    list-style: decimal;
    margin-top: 1.2rem;
    padding: auto;
    text-align: left;
    text-align: center;
  } */

/* .stage {
  color: white;
} */